/* 
Author: Md. Taifuzzaman Bilash
Description: A tribute to the martyrs of the great language movement in Bangladesh.
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.shoid-minar-wrap {
    max-width: 1200px;
    padding: 25px 15px 0;
    margin: 50px auto 0;
    position: relative;
}

.minar-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -21;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.letters-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.letter {
    position: absolute;
    color: rgb(134, 100, 100);
}

.letter:nth-child(1) {
    font-size: 6rem;
    left: 70px;
    top: 88px;
    transform: rotate(45deg);
}

.letter:nth-child(2) {
    font-size: 6.5rem;
    left: 196px;
    top: -48px;
    transform: rotate(22deg);
}

.letter:nth-child(3) {
    font-size: 7.5rem;
    left: 218px;
    top: 194px;
    transform: rotate(23deg);
}

.letter:nth-child(4) {
    font-size: 3.5rem;
    left: 45px;
    top: 294px;
    transform: rotate(-43deg);
}

.letter:nth-child(5) {
    font-size: 9.5rem;
    left: 600px;
    top: 254px;
    transform: rotate(23deg);
}

.letter:nth-child(6) {
    font-size: 8.5rem;
    left: 800px;
    top: 194px;
    transform: rotate(223deg);
}

.letter:nth-child(7) {
    font-size: 12rem;
    left: 900px;
    top: 94px;
    transform: rotate(23deg);
}

.letter:nth-child(8) {
    font-size: 4.5rem;
    left: 400px;
    left: 400px;
    top: 144px;
    transform: rotate(-33deg);
}

.letter:nth-child(9) {
    font-size: 5.5rem;
    right: 255px;
    transform: rotate(45deg);
}

.letter:nth-child(10) {
    font-size: 5.7rem;
    top: 50px;
    right: 405px;
    transform: rotate(35deg);
}

.letter:nth-child(11) {
    font-size: 8.5rem;
    right: 59px;
    transform: rotate(-17deg);
}

.letter:nth-child(12) {
    font-size: 5.5rem;
    right: 685px;
    transform: rotate(-47deg);
}

.letter:nth-child(13) {
    font-size: 4.5rem;
    top: 180px;
    right: 40px;
    transform: rotate(-37deg);
}

.shoid-minar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.column {
    position: relative;
    -ms-flex-preferred-size: 12%;
    flex-basis: 12%;
    border: 15px solid rgb(173, 165, 165);
    border-radius: 3px 3px 0 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-filter: drop-shadow(10px 0 10px #8f8f99);
    filter: drop-shadow(10px 0 10px #8f8f99);
}

.bdr {
    border-top: 3px solid #000;
}

.pipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.pipe {
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
    border: 1px solid #000;
}

.col2nd .pipes,
.col4th .pipes {
    height: 75px;
}

.middle-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: visible !important;
    -webkit-filter: drop-shadow(2px 0 13px #8f8f99);
    filter: drop-shadow(2px 0 13px #8f8f99);
}

.bg {
    position: absolute;
    top: 95px;
    left: calc(100% - 225px);
    width: calc(75%);
    height: calc(45%);
    border-radius: 50%;
    background-color: rgb(230, 0, 0);
    -webkit-filter: drop-shadow(0px 0 20px #ff003f);
    filter: drop-shadow(0px 0 20px #ff003f);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: -99999;
    animation: rise-up 8.25s linear;
}

@keyframes rise-up {
    0% {
        top: 195px;
        -webkit-filter: none;
        filter: none;
        visibility: hidden;
    }
    25% {
        top: 300px;
        visibility: hidden;
    }
    50% {
        -webkit-filter: drop-shadow(0px 0 5px #ff003f);
        filter: drop-shadow(0px 0 5px #ff003f);
        visibility: hidden;
    }
    75% {
        -webkit-filter: drop-shadow(0px 0 10px #ff003f);
        filter: drop-shadow(0px 0 10px #ff003f);
    }
    100% {
        top: 95px;
        -webkit-filter: drop-shadow(0px 0 15px #ff003f);
        filter: drop-shadow(0px 0 15px #ff003f);
    }
}

.middle-col .column:nth-child(3) {
    /* border-left-width: 7.5px; */
    -webkit-filter: none;
    filter: none;
    border-top-left-radius: 0;
}

.middle-col .pipes {
    /* gap: 16px; */
    height: 76.5px;
    width: 128px;
}

.base {
    margin: 0 -15px;
    padding: 30px 0 0 0;
    background-color: rgba(93, 93, 93, 0.75);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 10px 3px 12px #d2d2d2;
    box-shadow: 10px 3px 12px #d2d2d2;
    position: relative;
    z-index: 99;
}


/* 21-02-2019 */

.skewed-top {
    position: absolute;
    top: -38px;
    left: -27px;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    border-bottom: 0;
}

.skewed-top .pipes {
    height: 120px;
    width: 112.5px;
}

.skewed-top .cus-pipes {
    width: 130px;
}

.skewed-adjst {
    border: none !important;
    border-bottom: 15px solid #ada5a5 !important;
    padding-top: 100px;
    position: relative;
}

.skewed-adjst::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 79.55%;
    background-color: #ada5a5;
    left: -15px;
}

.skewed-top:nth-of-type(1) {
    position: absolute;
    top: 5px;
    left: 116px;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    border-bottom: 0;
    z-index: 1;
    border-right-width: 7.5px;
    border-right-color: red;
}

.skewed-top:nth-of-type(2) {
    position: absolute;
    top: -38px;
    left: 107px;
    -webkit-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
    border-bottom: 0;
    border-left-width: 7.5px;
    z-index: 1;
}

.skewed-adjst:nth-last-of-type(3)::after {
    visibility: hidden;
}

.skewed-adjst::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 80%;
    background-color: #ada5a5;
    right: -15px;
    -webkit-transform: translateY(-95.5%);
    -ms-transform: translateY(-95.5%);
    transform: translateY(-95.5%);
}

.no-filter {
    -webkit-filter: none;
    filter: none;
}

#badge-ribbon {
    position: relative;
    top: -25px;
    left: -35px;
    background: rgb(39, 39, 39);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    z-index: 99;
}

#badge-ribbon p.omor21 {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 1.5rem;
    color: #fff;
}

#badge-ribbon:before,
#badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid rgb(39, 39, 39);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 80px;
    left: -10px;
    transform: rotate(-140deg);
}

#badge-ribbon:after {
    left: auto;
    right: -10px;
    transform: rotate(140deg);
}


/* Footer section */

.minar-footer {
    background-color: rgb(73, 73, 73);
    padding: 29px;
    color: rgb(32, 32, 32);
    text-align: center;
}

.ft-txt {
    margin: 0;
    padding: 10px 0;
    color: #fff;
}

.ft-credit {
    padding: 10px 0;
    color: rgb(10, 10, 10);
    text-decoration: none;
}